body {
  font: 14px sans-serif;
}

#controlPanel {
    width: 25%;
    float: left;
}

input[type="text"] {
    width: 30px;
    margin-right: 10px;
    margin-left: 5px;
}

input[type="checkbox"]{
  margin-right: 30px;
}

p > div {
  display:inline-block;
  height: 3em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid path,
.grid line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.25);
  shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 2.5px;
}
