body {
  font: 14px sans-serif;
}

#controlPanel {
    width: 25%;
    float: left;
}

input[type="text"] {
    width: 30px;
    margin-right: 10px;
    margin-left: 5px;
    text-align: center; 
}

input[type="checkbox"]{
  margin-right: 30px;
}

p {
  height: 2em;
}

p > div {
  display:inline-block;
  height: 3em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #bbb;
  shape-rendering: crispEdges;
}

.grid path,
.grid line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.25);
  shape-rendering: crispEdges;
}

.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.line {
    fill: none;
    stroke-width: 2.5px;
}

.axis text {
  fill: #555;
}

.axis .axis-label {
  font-size: 14px;
}

.dot {
  stroke: transparent;
  stroke-width: 10px;  
  cursor: pointer;
}

.dot:hover {
  stroke: rgba(68, 127, 255, 0.3);
}

.area {
  margin-top: 50px;
  margin-bottom: 50px;
}